@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    height:100%;
}


body {
    background-color: black;
    color: white
}

.close{
    display: none;
    cursor: pointer;
}

/* .container{
  
} */

.left {
    width: 25vw;
    padding: 10px;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    list-style-type: none;
    width: 35px;
    gap: 14px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    align-items: center;
    display: flex;
    width: 100%;
    gap: 14px;
    padding-top: 14px;
    padding: 23px 14px;
    font-size: 13px;
    font-weight: bold;
}

.heading img {
    width: 30px;
}


.library {
    min-height: 80vh;
    position: relative;

}

/* footer  */
.footer {
    /* padding-top: 45px; */
    margin: 0 24px;
    /* display: flex; */
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.f1,
.f2 {
    gap: 13px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
}

.footer .f2 a {
    color: white;
}

.footer a {
    color: gray;
    text-decoration: none;
}


/* right  */
.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
    /* here if there is m-1 class ..it blocks margin ..so remove it  */
    /* its  m-1  utility  */
}

/* header  */
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);

}

.header>* {
    padding: 20px;
}

.musicsvg {
    height: 20px;
    width: 20px;

}



/* [playlists] */
.spotify-playlists {
    padding: 16px;
}
.spotify-playlists h1{
    padding: 16px;
}

/* this come in pair..note them  */
.cardContainer {
    /* justify-content: center; */
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /*adjust fitting overflows ..try removing to see its use*/

    /* scrollbar / */
    /* width: 100%; */
    max-height: 70vh;
    /* overflow-y: auto; */
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #5d6263 #121212;
    /* padding-bottom: 144px; */
}


/* old start  */

    /* background-color: #252525; */
    /* background-color: #121212; */

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #121212;
    position: relative;
    /* transition: background 0.3s ease-in-out; */
    transition: all 0.3s ;
    ;
}

/* 

.play {
    position: absolute;
    right: 10px;
    bottom: 130px;
    opacity: var(--a);  
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
} */

/* .card:hover{
    background-color: rgb(30, 30, 30);
    cursor: pointer;
    --a:1;
    transform: translateY(0);
} */

/* old end  */



/* Image inside the card */
.card img {
    width: 100%;
    border-radius: 8px;
}

/* Play button */
.play {
    position: absolute;
    /* right: 15px;
    bottom: 20px; */
    right: 3px;
    bottom: 57px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}


.card:hover .play {
    opacity: 1;
    transform: translateY(0);
}


.card:hover {
    background-color: #282828; /* Slightly lighter Spotify color */
}





.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


/* for card objects remember this css style  */
/* set width of img obj as 100% and obj fit  */
/* this allows you to adjust card single handed..change width of card  singly  */
.card img {
    width: 100%;
    object-fit: contain;

}

.card>* {
    padding-top: 10px;
}




.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    /* filter: invert(1); */

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* bottom: 30px; */
    bottom: 0;
    filter: invert(1);
    background: #ebe5e5;
    /* background: white; */
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

/* play bar  */
.songButtons {
    display: flex;
    justify-content: center;
    gap: 13px;
}

.songButtons img {
    cursor: pointer;
    height: 28px;
}


/* song list  */

.songList {
    height: 544px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #5d6263 #121212;

    margin-bottom: 25px;

}


.songList ul {
    padding: 0 12px;

}


.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px 0;


    border: 0.5px solid rgba(255, 255, 255, 0.386);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;

}
.info div{
    word-break: break-all;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span {
    font-size: 15px;
    width: 64px;

}


.seekbar {
    cursor: pointer;
    height: 4px;
    width: 98%;
    background: #000;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background: #000;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    /* margin: 20px 0; */
    width: 100%;
}

/* .songInfo,
.songtime {
    color: black;
    width: 250px;
} */

.timeval{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songInfo{
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
}
.volume{
    cursor: pointer;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content:center;
    gap: 12px;

}



/* Slider thumb (handle) should also be clickable */
.range input[type="range"]::-webkit-slider-thumb {
    cursor: pointer; /* Pointer for thumb */
}


@media (max-width: 1200px) {
/* @media (max-width: 768px) { */
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songInfo,
    .songtime {
        width: auto;
    }

    .left .close { /* left cha close  */
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        /* previously playbar and seekbar were not centered..so use calc  */
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }
/* 
    .card {
        width: 50vw; 
    } */
     /* to display single card ..remove comments */

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
              /* avoids hiding of cards  */
    }

    .playbar{
        right: 25px;
    }
}


@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

   
} 